<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhiyou100.mapper.RoleMapper" >
	
	<select id="findAllRole" parameterType="Map" resultType="Role">
	SELECT
		id,
		role_num,
		role_name,
		statuss
	FROM
		role
	<where>
			<if test="keyword != null and keyword != '' ">
			  	role_name like '%${keyword}%'
			</if>
	</where>
	</select>
	
		<!-- 计数  -->
	<select id="count" parameterType="Map" resultType="int">
	SELECT
		count(*)
	FROM
		role
	<where>
			<if test="keyword != null and keyword != '' ">
			  	role_name like '%${keyword}%'
			</if>
	</where>
	</select>
	
	
	<update id="deleteRole" parameterType="int">
		UPDATE  role SET statuss = '0' WHERE id = #{id}
	</update>
	
	
	<delete id="deleteMoreRole"  parameterType="List">
		UPDATE  role SET statuss = '0' 
		<where>
			<if test="list != null and list.size > 0">
				id in 
				<foreach collection="list"  item="id" open="("  close=")"  separator=",">
					#{id}
				</foreach>
			</if>
		</where>
	</delete>
	
	<insert id="insertRole" parameterType="Role">
	INSERT INTO 
		role(role_name,statuss)
		VALUES
	(#{role_name}, #{statuss})
	</insert>
	
	<select id="insertLastId" resultType="int" >
		select LAST_INSERT_ID()
	</select>
		
	<insert id="insertRolePermission" parameterType="Map">
	INSERT INTO 
		role_permission (role_id, permission_id)
		VALUES
	(#{id}, #{permission})
	</insert>
	
	<resultMap type="Role" id="resultMap0">
		<id column="id" property="id"/>
		<result column="role_name" property="role_name"/>
		<result column="statuss" property="statuss"/>

		<association property="rolePermission" javaType="RolePermission">
			<result column="role_id" property="role_id"/>
		</association>
		<association property="permission" javaType="Permission">
			<result column="resource_name" property="resource_name"/>
		</association>
	</resultMap>
	<select id="selectOneById" parameterType="int" resultMap="resultMap0">
		SELECT
			r.id,
			r.role_name,
			r.statuss,
			rp.role_id,
			p.resource_name
		FROM
			role r,
			role_permission rp,
			permission p
		WHERE
			r.id = rp.role_id
			and rp.permission_id = p.id
			and  r.id = #{id}
	</select>

</mapper>