<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- jdbc.properties交给spring托管 -->
	<!-- 别名,在xml文件中type -->
	<typeAliases>  <!-- model类 -->
		<package name="com.zhiyou100.model"/>
	</typeAliases>
	<!-- 数据源交给Spirng托管 -->
	<!-- Mapper交给Spring托管 -->

</configuration>